.navbar {
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 1000;
}

/* LOGO */
.nav_logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  color: black;
}

.logo_img {
  height: 70px;
  margin-right: 10px;
}

/* ITEMS */
.nav_items a {
  margin: 15px;
  color: black;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav_items a:hover {
  color: #ff5722;
}

.nav_actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart_icon {
  font-size: 20px;
  color: black;
}

/* TOOGLE (React Icons) */
.nav_toggle {
  display: none;
  cursor: pointer;
}

.toggle_icon {
  font-size: 28px;
  color: black;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
  .nav_items {
    position: absolute;
    top: 80px;
    left: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding-top: 30px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  }

  .nav_items.open {
    transform: translateX(0) !important;
  }

  .nav_toggle {
    display: flex !important;
    margin: 15px;
  }

  .nav_items a {
    font-size: 18px;
    margin: 20px;
  }
}
